[submodule "themes/auto"]
	path = themes/auto
	url = https://github.com/autoload/hexo-theme-auto.git
[submodule "source/_posts/Notes"]
	path = source/_posts/Notes
	url = https://github.com/mei-lun/Notes.git
[submodule "themes/anatole-core"]
	path = themes/anatole-core
	url = https://github.com/mrcore/hexo-theme-Anatole-Core.git
